.container-fluid {
  background-color: #F4F4F4;
  color: #8A8A8A;
  padding-bottom: 50px;
}

.head-container {
  background-color: #E5E4E6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.222);
  color: #8B8B8B;
}

#editor {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#preview {
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

img[alt=freeCodeCamp] {
  width: 150px;
}
